<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!--控制台输出-->
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger level="INFO" name="org.springframework"/>
        <Root level="DEBUG">
            <!--建议测试环境开启DEBUG级别，生产WARN级别-->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="tv-manage"/>
        </Root>
    </Loggers>
</Configuration>