html{font-size: 20px;}
*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

}
body{
    font-family: "Microsoft YaHei", "Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.8em;
    font-size: .7rem;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing:antialiased;
    color: #333333;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #ffffff;
}

img{
    border: none;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    border: none;
}
ul li{list-style-type: none;}

textarea{
    width: 1rem;
    height: 1rem;
    border: none;
    background: none;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    resize : none;
    box-shadow:0px 0px 0px rgba(0,0,0,0);
}

.none{display: none !important;}

.return{
    padding: .25rem .25rem 0 .25rem;
    font-size: 1.5rem;
    color: #4e6acf;
    height: 2rem;
    vertical-align: middle;
}
.department-ul li,.namelist-ul li{
    border-bottom: 1px solid #e5e1e1;
    padding: .5rem .85rem;
    font-weight: 500;
}
.group-li a{
    display: inline-block;
    width: 100%;
}

.tit-li{
    background-color: #5471ed;
    color: #f5f5f5;
    border: none;
    height: 2.25rem;
    vertical-align: middle;
    width: 100%;
    white-space:nowrap;
    text-overflow: ellipsis;
    /*max-width: 320px;*/

}

.tit-li span{
    padding: .5rem 0px .5rem 6px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 50px;*/
    white-space:nowrap;
    width: 100%;
}

.checked-span {
    background-color: #35d5bb;
    background-image: url("../images/menuback.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 320px;
    z-index: -1;
}

.department-ul{
    display: none;
}

.namelist-ul{
    display: none;
}

.namelist-ul .name-btn{
    display: inline-block;
    width: 100%;
}

.namelist-ul .headimg{
    background-color: #3ad7b8;
    color: #ffffff;
    font-weight: 600;
    border-radius: 4.5rem;
    width: 35px;
    height: 30px;
    margin-right: .75rem;
    box-shadow:0px 4px 4px #dedede;
    -moz-box-shadow:0px 4px 4px #dedede;
    -webkit-box-shadow:0px 4px 4px #dedede;
    display: inline-block;
    text-align: center;
    padding: .25rem 0 0 0;
}
.namelist-ul .name-span{
    color: #333333;
}
.namelist-ul .dial-btn img{
    width: 2rem;
}

.namelist-ul .dial-btn{
    float: right;
    margin-right: 1rem;
}



/*弹窗*/
.popup-box{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}
.popup-box .popup-bg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity=80);
}
.popup-box .popup-container{
    position: fixed;
    z-index: 2;
    width: 90%;
    left: 5%;
    top: 48%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.popup-box .popup-container .popup-head{
    text-align: center;
    position: relative;
    background: #ffffff;
    border-radius: .25rem .25rem 0 0;
    padding-top: 2rem;
}
.popup-box .popup-container .phone-head{
    padding-top: 3rem;
}

.popup-head .popup-close-btn{
    position: absolute;
    right: 5px;
    top:0px;
    font-size: 40px;
    color: #333333;
}
.popup-body{
    background-color: #ffffff;
    padding: 2rem .75rem .5rem .75rem;
    position: relative;
    font-size: .9rem;
    border-radius:0 0 .25rem .25rem;
    -webkit-border-radius:0 0 .25rem .25rem;
    -moz-border-radius:0 0 .25rem .25rem;
    margin-top: -1px;
}

.popup-btn-box{
    margin: 5rem 0;
    text-align: center;
}

.popup-btn-box img{
    width: 50px;
    margin:0 .75rem;
}

.close-btn{

    margin-right: .25rem;
    font-size: 25px;
    color: #333333;
}

.info-box p{
    text-align: center;
}

.info-box .name-p{
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
}

.info-box .phone-p{
    margin-top: 2.5rem;
}

