
*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

}
body{
    font-family: "Microsoft YaHei", "Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.8em;
    font-size: .9rem;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing:antialiased;
    color: #333333;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #f1f1f1;
}

img{
    border: none;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    border: none;
}
ul li{list-style-type: none;}

.none{display: none !important;}

.return{
    padding: .25rem .25rem 0 .25rem;
    font-size: 1.5rem;
    background-color:#4e6acf ;
    color: #ffffff;
    height: 2rem;
    vertical-align: middle;
}


.fullWith{
    padding:.35rem .6rem;
}

.QuesDescription{
    font-family: "Microsoft YaHei", "Helvetica Neue",Helvetica,sans-serif;
    width: 100%;
    border: 1px solid #edecf1;
    outline: none;
    height: 160px;
    border-radius: 0px;
    padding: 0px 5px;
    line-height: 30px;
    font-size: 1rem;
    letter-spacing: 0;
    padding: .5rem;
}

.phonenumber{
    width: 100%;
    border: 1px solid #edecf1;
    outline: none;
    padding: .5rem;
    font-size: 1rem;
}

.btnBox{
    text-align: center;
}

.confirm-btn{
    width: 90%;
    border-radius: .25rem;
    background-color: #5471ed;
    font-size: 1.05rem;
    color: #ffffff;
    padding: .55rem 0;
    margin-top: 3rem;
    border: none;
    outline: none;
}