<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmcc.contact.mapper.DepartmentAdministratorMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hmcc.contact.entity.DepartmentAdministrator">
		<id column="system_id" property="systemId" />
		<result column="management_number" property="managementNumber" />
		<result column="organization_id" property="organizationId" />
		<result column="contact_number" property="contactNumber" />
		<result column="state" property="state" />
		<result column="create_time" property="createTime" />
		<result column="create_admin_id" property="createAdminId" />
		<result column="last_modify_time" property="lastModifyTime" />
		<result column="last_modify_admin_id" property="lastModifyAdminId" />
		<result column="extend_1" property="extend1" />
		<result column="extend_2" property="extend2" />
		<result column="extend_3" property="extend3" />
		<result column="extend_4" property="extend4" />
	</resultMap>



</mapper>
